body {
    font-family: "Roboto", sans-serif ;
   background-color: #FFFFFF;
   color: #434455;

}
address {
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-item-studio .header-item-link {
    color: #404bbf;
    position: relative;
}
.header-item-studio .header-item-link::after {
   content: '';
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
}
.header-address {
    margin-left: auto;
}
.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 24px 0;
margin-right: 76px;
}
.header-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.header-item-studio {
    color: #404bbf;
}
.header-item-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item :hover, .header-item :focus {
color: #404bbf;
}
.address-link {
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 24px 0;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-link:hover, .address-link:focus {
    color: #404bbf;
}
.section-box {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Main-photo.jpg);
max-width: 1440px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.box-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;

margin: 0 auto;
margin-bottom: 48px;
}
.box-btn {
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
border: none;
padding: 48gpx 0;
margin: 0 auto;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.box-btn:hover, .box-btn:focus {
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-information {
    padding: 120px 0;
}
.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.information-list {
    display: flex;
    gap: 24px;
}
.information-item {
    width: calc((100% - 72px) / 4);
}
.information-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.information-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-hero {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.hero-item {
background: #fff;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.hero-div {
    padding: 32px 0;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.hero-item-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.hero-address {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-address:hover, .hero-address:focus {
background-color: #404bbf;
}
.hero-link-item {
    width: 40px;
    height: 40px;
}
.hero-icon{
    fill: #F4F4FD;

}
.hero-list {
    display: flex;
    gap: 24px;

}
.hero-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.section-portfolio {
    background-color: #FFFFFF;
    padding: 120px 0;
}
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfilio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-div-curent {
    position: relative;
    overflow: hidden;
}
.portfilio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-curent {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfilio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfilio-item:hover .portfolio-curent {
transform: translateY(0);
}
.footer {
    background: #2e2f42;
    padding: 100px 0;
}
.footer-link {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}
.footer-logo {
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.footer-div {
    display: flex;
    align-items: baseline;
}
.footer-logo-div {
    margin-right: 120px;
}
.footer-social {
display: inline-block;
}
.footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-item-icon {
    display: flex;
padding: 0;
margin: 0;
list-style: none;
    gap: 16px;
}
.footer-link-item {
    width: 40px;
    height: 40px;
}
.footer-icon-address {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
    fill: #F4F4FD;
}
.footer-icon-address:hover, .footer-icon-address:focus {
    background-color: #31d0aa;
}

* {
    box-sizing: border-box;
}

/* FORM */

.overlay {
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
position: fixed;
top: 0;
    display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}
.btn-close {
    border-radius: 100%;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
top: 24px;
right: 24px;
position: absolute;
width: 24px;
height: 24px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-close:hover {
    border-radius: 100%;
fill: white;
background-color: #404bbf;
}
.model-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 48px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 16px;
}
.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%); */
    border-radius: 4px;
    padding: 24px;
}

.btn-form {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 48gpx 0;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
    .btn-form :hover, .btn-form :focus {
        background-color: #404BBF;
    }
.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
margin-bottom: 8px;
padding-left: 32px;
outline: transparent;
}
.modal-input-name {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
margin-bottom: 8px;
padding-left: 32px;
outline: transparent;
}
.modal-input-name:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}
.modal-input-name:focus + .modal-input-person {
    fill: #4D5AE5;
}

.modal-area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
resize: none;
padding: 8px 16px;
}
.modal-area::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);

}
.modal-input-text {
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
display: inline-block;
margin-bottom: 4px;
}
.modal-form-div {
    position: relative;
}
.modal-input-icon {
    position: absolute;
width: 18px;
height: 24px;

left: 16px;
top: 50%;
transform: translateY(-50%);
}
.modal-input-person {
    position: absolute;
    width: 18px;
    height: 24px;
    
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-comment {
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
}


.check-option {
display: block;
    width: 100%;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
padding-top: 16px;
padding-bottom: 24px;
}
.check-option:checked {
    border-radius: 2px;
fill: #404bbf;
border: 1px solid #404bbf;
}
border-radius: 2px;
fill: #404bbf;
border: 1px solid #404bbf;
.privacy-accept {
    line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}